{% extends 'book/base.html' %}
{% block title %}
Add a new book
{% endblock %}

{% block content %}

<form action="{% url 'create_book' %}" method = 'POST'>{% csrf_token %}
    <div class="form-group">
      <label for="name">Book Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Book Name">
    </div>
    <div class="form-group">
      <label for="authors" >Author</label>
      <select id="authors" name="authors" class="form-control" multiple>
      {% for author in authors_all %}
       <option id="authors" name="author" value={{author.id|default:"-"}}> ID {{author.id|default:"-"}}. {{author.name|default:"-"}} {{author.surname|default:"-"}} </option>
      {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="Description">
    </div>
      <div class="form-group">
      <label for="count">Count</label>
      <input type="text" class="form-control" id="count" name="count" placeholder="Count">
    </div>

  <button type="submit" value="Submit" class="btn btn-secondary">Save</button>
</form>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q==" crossorigin="anonymous"
  referrerpolicy="no-referrer" />



<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>

</style>
    {% if messages %}
    {% for message in messages %}

        <script>   alert("{{ message }}")</script>
    {% endfor %}
{% endif %}
{% endblock %}
